/**
* 全局颜色变量
* Author: dong xing
* Date: 2019-02-15
* Time: 14:32
* Email: dong.xing@outlook.com
*/

// 主色
//$color-primary: #39bced;
$color-primary: #2aa88d;
$color-primary-header:#409EFF;
$color-primary-header-hover: rgba(5,127,202,0.8);
$color-light-primary: #abc9dc;

// 辅助色
$color-info: #909399;
$color-success: #67c23a;
$color-warning: #e6a23c;
$color-danger: #f56c6c;

// 文字
$color-font-white: #ffffff;
$color-font-gray: #cfcfcf;
$color-font-gray-active: #fafbfb;
//$color-font-black: #737679;
//$color-font-middle-black: #43474c;
$color-font-black: #43474c;
$color-font-middle-black: #737679;
$color-font-deep-black: #000000;

// 边框
$color-border-white: #f5f5f5;
$color-border-grey: #f6f7f7;
$color-border-middle-grey: #cccccc;
$color-border-dark-grey: #595959;

// 表格
$color-table-dark-even: #24292f;
$color-table-light-even: #e1e6e8l;

// 区块颜色
$color-block-white: #ffffff;
$color-block-gray: rgb(243,243,243);
$color-block-middle-gray: #eaeaea;
$color-block-shallow-grey: #434a56;
$color-block-black: #262a31;
$color-block-middle-black: #1d2025;
$color-block-deep-black: #0d0f10;
$color-block-black: #24292f;
$color-block-shallow-grey: rgb(84,92,100);
$color-block-black: #262a31;
$color-block-middle-black: #1d2025;
$color-block-deep-black: #0d0f10;
$color-block-gray: #f6f7f7;

// 悬浮颜色
$color-hover-light: #e8eaea;
$color-hover-dark: #292f36;

